
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: linear-gradient(blue, aqua);
    color: white;
}
.color{
    color: orange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    text-align: justify;
}
.header{
    display: flex;
    margin-bottom: 100px;
    
}
.half-width{
    width: 50%;
    padding: 3%;
}
.half-width img{
    width: 80%;
    
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.desc{
    width: 550px;
}
.experience-area{
    background-color: violet;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}
#left-border{
    border-left: 7px solid;
    border-image: linear-gradient(blue, tomato);
    border-image-slice: 1;
}
#left-border1{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}